<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:hz="http://www.hazelcast.com/schema/spring"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.hazelcast.com/schema/spring http://www.hazelcast.com/schema/spring/hazelcast-spring-2.5.xsd">

	<context:property-placeholder
		location="classpath:spring-sharproute-repository.properties" />

	<context:component-scan base-package="com.sharproute.repository" />

	<jpa:repositories base-package="com.sharproute.repository" />

	<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass" value="${dataSource.driverClass}" />
		<property name="jdbcUrl" value="${dataSource.jdbcUrl}" />
		<property name="username" value="${dataSource.username}" />
		<property name="password" value="${dataSource.password}" />
		<property name="idleConnectionTestPeriod" value="60" />
		<property name="idleMaxAge" value="240" />
		<property name="maxConnectionsPerPartition" value="30" />
		<property name="minConnectionsPerPartition" value="10" />
		<property name="partitionCount" value="3" />
		<property name="acquireIncrement" value="5" />
		<property name="statementsCacheSize" value="100" />
		<property name="releaseHelperThreads" value="3" />
	</bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="database" value="${entityManagerFactory.database}" />
			</bean>
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">${entityManagerFactory.hibernate.hbm2ddl.auto}</prop>
			</props>
		</property>
	</bean>

	<bean class="org.springframework.orm.jpa.JpaTransactionManager"
		id="transactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
		<property name="jpaDialect">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
		</property>
	</bean>

	<hz:hazelcast id="hazelcastInstance">
		<hz:config>
			<hz:group name="dev" password="dev" />
			<hz:properties>
				<hz:property name="hazelcast.logging.type">log4j</hz:property>
			</hz:properties>
			<hz:map name="FixServer">
				<hz:map-store enabled="true" implementation="fixServerMapStore"
					write-delay-seconds="0" />
			</hz:map>
			<hz:map name="FixSession">
				<hz:map-store enabled="true" implementation="fixSessionMapStore"
					write-delay-seconds="0" />
			</hz:map>
		</hz:config>
	</hz:hazelcast>

</beans>